*{
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;    
    margin: 0; 
    outline: none;
}
#wrapper { 
    margin: 0 auto;  
    width: 1250px; 
}
#header{
	background-color: black;
    width: 100%;
}
#sub_header{
	background-color: black;
	display: inline-block;
	width: 70%;
}

.logo{
    margin: 5px;
    margin-left: 30px;
    border: 2px solid black;
    border-radius: 7px;
}


.main_login{
	color: white;
	vertical-align: top;
	width: 100%;
    position: relative;
	text-align: right;
    height: 100px;
}
.result{
	border: 2px solid black;
	border-radius: 10px;
	margin: 12px;
	width: 832px;
	padding: 5px;
}
.result_detail{
    border: 2px solid black;
    border-radius: 10px;
    margin: 12px;
    width: 763px;
    padding: 40px;
    background-color: #E3E3E3;
}

.photo{
	width: 500px;
	border: 2px solid black;
	border-radius: 7px;
	padding: 5px;
	background-color: white;
}
.star{
	width: 100px;
}
/* start link */
.link:link {
    text-decoration: none;
    color: #A83D03;    
}

.link:visited {
    text-decoration: none;
    color: #A83D03;
}

.link:hover {
    text-decoration: none;
    color: orange;
}

.link:active {
    text-decoration: underline;
    color: #A83D03;

}
/* end link */
.list:link {
    text-decoration: none;
    color: white;    
}

.list:visited {
    text-decoration: none;
    color: white;
}

.list:hover {
    text-decoration: none;
    color: yellow;
}
.my_trip{
    border: 2px solid black;
    width: 500px;
}

.list:active {
    text-decoration: underline;
    color: white;

}
.map{
	border: 2px solid black;
	width: 840px;
    margin: 12px
   
}
.weather{
	text-align: center;
	vertical-align: top;
}

#forcast {
	background-color: white;
	
	border-collapse: collapse;
	width: 800px;		
	text-align: center;
}
#forcast td{
    border-collapse: collapse;
	border-left: 1px dotted #B3B3B3;
	border-right: 1px dotted #B3B3B3;
}
.dropdown_top {
    list-style-type: none;
    margin-left: 720px;
    padding: 0;
    overflow: hidden;
    background-color: black;
    color: white;
    width: 145px;
    display: inline-block;
/*    border-top: 1px solid white;
*/}

ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    color: white;
    width: 950px;
    display: inline-block;
/*    border-top: 1px solid white;
*/}

li {
    float: left;
    color: white;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover/*, .dropdown:hover .dropbtn */{
    color: yellow;
}
.dropdown:hover /*.dropbtn*/{
    color: yellow;

}

li.dropdown {
    display: inline-block;
    color: white;

}

.dropdown-content {
    display: none;
    z-index: 1; /* to move drop down menu to the fornt of div*/
    position: absolute;
    background-color: #E8E8E8;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #D9D9D9;
    color: #170096;

}

.dropdown:hover .dropdown-content {
    display: block;

}
.footer{
    background-color: black;
    height: 220px;
    margin: 2px;
    color: white;
    text-align: center;
    margin-bottom: 10px;
 /*   padding-top: 150px;*/

}
#footer{
   
    color: white;
}
.text_footer{
    vertical-align: bottom;
    height: 220px;
    padding-bottom: 30px;
/*    border: 1px solid white;
*/

}
.main_content{
    text-align: center;
    background-color: #E3E3E3;
    border-radius: 7px;
    margin: 0px 12px 3px 12px;
    padding-bottom: 25px;
}
.sub_content{

    /*border: 1px solid black;*/
    width: 370px;
    height: 200px;
    margin: 0px 20px 20px 20px;
    display: inline-block;
    padding-top: 20px;
}
.sub_content_detail{
    width: 370px;
    height: 20px;
    margin: 0px 20px 20px 20px;
    display: inline-block;
    padding-top: 20px;
}

li.create_account {
    background-color: white;
    color: black;
}
#all_table{
    margin: 40px;
    width: 1000px;
}
#login_table1{
    height: 200px;
    padding-left: 150px;
    vertical-align: top;

}
#login_table {
    border-left: 2px solid black;
    height: 200px;
    padding-left: 150px;
    vertical-align: top;

}
h2{
    margin: 20px;
}
.register{
    padding: 50px;
    text-align: center;
    width: 1000px;
}
.register_head{
    margin-left: 30px;
}
#trail_search{
    margin: 40px;
}
.search_trails{
    text-align: center;
    width: 841px;
    padding: 40px 0px 40px 0px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 12px;
    background-color: #E3E3E3;

}
.box{
    width: 600px;
    display: inline-block;
    background-color: #D9DBDB;
    border-radius: 10px;
    padding: 20px

}
.second_box{
    display: inline-block;
    vertical-align: top;
    padding-top: 50px;
    padding-left: 15px;
    text-align: center;
}
.head{
    background-color: #B6B9BA;
}
.index_trail{
    border-radius: 50%;
    width: 260px;
    height: 260px
}
.top_trip{
    padding-left: 40px;
    background-color: black;
    color: white;
    height: 40px;
    padding-top: 15px;
    border-radius: 5px;
    margin: 0px 12px 2px 12px;

}
.more_trip{
    text-align: right;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-top: 30px;
}

.review_content{
    margin-left: 12px;
}
.review_comment{
    margin-left: 12px;
    width:810px;
    padding: 20px;
}
.review_head{
    color: #000273;
    margin-top: 20px;
}
#main_trail{
    width: 800px;
    margin: 40px;
}
#searchForm{
    width: 200px;
    position: relative;
    top: 13px;
    left: 390px;
}
.content_info_message{
    margin: 50px;
}
.content_info_comment{
     margin: 50px;
}
.content_comment{
    margin-left:20px;
}
.table_footer{
/*    border: 2px solid white;
*/  width: 1250px;
    padding: 20px;
    padding-left: 120px;
    text-align: left;
    /*text-align: left;*/
}
.social{
    width: 40px;
}
#social{
    text-align: right;
    padding-left: 300px;
}
#footer_mytrip{
    padding-top: 45px;
    padding-left: 120px;
}
.table_footer_mytrip{

    width: 1050px;
    padding: 20px;
    padding-left: 120px;
    text-align: left;
}