 <footer>
            {% block footer %}
                Copyright 2015
            {% endblock %}
        </footer>
<div class="footer">
	<div id="footer">
	<table class="table_footer">
		<tr>
			<td><a href="/" class="list">Home</a></td>
			<td><a href="/login" class="list">Login</a></td>

		</tr>
		<tr>
			<td><a href="/search" class="list">Trails</a></td>
			<td><a href="/insert" class="list">Register</a></td>
			<td>
			<div id="social">
			<img class="social" src="{% static 'trails/images/facebook.png'%}"   alt="facebook" >&nbsp;&nbsp;
			<img src="{% static 'trails/images/instagram.png'%}"   alt="instagram" width="37">&nbsp;&nbsp;
			<img src="{% static 'trails/images/tripadvisor.png'%}"  alt="tripadvisor" width="37">&nbsp;&nbsp;
			</div>
			</td>
		</tr>
		<tr>
			<td><a href="#" class="list">Contact Us</a></td>
			<td><a href="/trips" class="list">My Trips</a></td>
		</tr>
		<tr>
			<td><br><a href="#" class="list">About Us</a></td>
			<td></td>
		</tr>

	</table>
	<span class="text_footer">© 2016 Trailbuddy.com or its affiliates. Trailbuddy is operated by Coding Dojo.</span>	

	</div>
	</div>