<!DOCTYPE html>
<html lang="en">
<head>
	<title>Trails</title>
	{% load staticfiles %}
  	<link rel="stylesheet" href="{% static 'trails/css/styles.css' %}">
  	<script type="text/javascript" src="{% static 'trails/js/jquery.slideshow.js'%}"></script>
  	<link rel="stylesheet" type="text/css" href="{% static 'trails/css/index.slideshow.css'%}" />
	<!-- Slide show-->
	<style type="text/css">
		.c { 
			clear: both; 
		}
	</style>
	<script language="JavaScript">
        function dosearch() {
            var sf = document.searchform;
            var submitto = sf.sengine.value + escape(sf.searchterms.value);
            window.location.href = submitto;
            return false;
        }
    </script>
	<!--End slide show-->

</head>
<body>
<div id="main">
<div id="header">
<a href="/"><img src="{% static 'trails/images/logo.png'%}" class="logo" width="230" height="140"></a>
<table id="sub_header">
	<tr>
		<td>
		<div class="main_login">
		<p>
		<ul class="dropdown_top">
		 	<li class="dropdown">
			    <a href="#" class="dropbtn"><img src="{% static 'trails/images/login.png'%}" width="35" ></a>
			    <div class="dropdown-content">
			      <a href="/login">Login</a>
			      <a href="/insert">Register</a>
            	  <a href="/trips">My Trips</a>
			    </div>
			  </li>			  
			  <li><a class="active" href="#"><img src="{% static 'trails/images/help.png'%}" width="35" ></a></li>		
			</ul>
		</p>
		</div>
		</td>
	</tr>
	<tr>
		<td>
		<hr>
		<ul class="menu">
        <li><a class="active" href="/">Home</a></li>
        <li><a href="/search">Trails</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">About Us</a></li>
      </ul>
		</td>
	</tr>
</table>
</div>
<div id="featured">
		<div id=outside>
    <!-- prev/next links -->
		<div id="wrapper">
		<div id="examples_outer">
			<div id="slider_container_2">

				<div id="SliderName_2" class="SliderName_2">
					<a href="#"><img src="{% static 'trails/images/hiking1.jpg'%}" alt="hiking1"  align="middle" class="featuredimage" /></a>
					<div class="SliderName_2Description">1</div>
					<a href="#"><img class="featuredimage" src="{% static 'trails/images/hiking2.jpg'%}"   alt="hiking2" /></a>
					<div class="SliderName_2Description">2</div>
					<a href="#"><img class="featuredimage" src="{% static 'trails/images/hiking3.jpg'%}"   alt="hiking3" /></a>
					<div class="SliderName_2Description">3</div>
					<a href="#"><img class="featuredimage" src="{% static 'trails/images/hiking4.jpg'%}"   alt="hiking4" /></a>
					<div class="SliderName_2Description">4</div>
				</div>
				<div class="c"></div>
				<div id="SliderNameNavigation_2"></div>
				<div class="c"></div>

				<script type="text/javascript">
					effectsDemo2 = 'fade';
					var demoSlider_2 = Sliderman.slider({container: 'SliderName_2', width: 1250, height: 450, effects: effectsDemo2,
						display: {
							autoplay: 3000,
							loading: {background: '#000000', opacity: 0.5, image: "{% static 'trails/images/loading.gif'%}"},
							buttons: {hide: true, opacity: 1, prev: {className: 'SliderNamePrev_2', label: ''}, next: {className: 'SliderNameNext_2', label: ''}},
							navigation: {container: 'SliderNameNavigation_2', label: "<img src='{% static 'trails/images/clear.gif'%}' />"}}
					});
				</script>

				<div class="c"></div>
			</div>
			<div class="c"></div>
		</div>
		<div class="c"></div>
	</div>
	</div>
	</div>	
	<div class="top_trip"><strong>Up Coming Trip &#187;</strong></div>
	<div class="main_content">
			<div class="sub_content">
				<img src="{% static 'trails/images/trail1.jpg'%}" class="index_trail">		
			</div>	
			<div class="sub_content">
				<img src="{% static 'trails/images/trail2.jpg'%}" class="index_trail">		
			</div>	
			<div class="sub_content">
				<img src="{% static 'trails/images/trail3.jpg'%}" class="index_trail">		
			</div>		
			{%for x in trip%}
			<div class="sub_content_detail">
					<strong>{{x.destination}}</strong>
					<p>Trip Start: {{x.trip_start}}</p>
			</div>
			{%endfor%}
			{%for x in days%}
			<div class="sub_content_detail">
					<p>{{x.0}} Days Trip</p><br>
			</div>
			{%endfor%}
			<div class="more_trip"><a href="/search" class="link">Search More Trails &#187; </a></div>
	</div>
<!-- 	Start Footer -->
	<div class="footer">
	<div id="footer">
	<table class="table_footer">
		<tr>
			<td><a href="/" class="list">Home</a></td>
			<td><a href="/login" class="list">Login</a></td>

		</tr>
		<tr>
			<td><a href="/search" class="list">Trails</a></td>
			<td><a href="/insert" class="list">Register</a></td>
			<td>
			<div id="social">
			<img class="social" src="{% static 'trails/images/facebook.png'%}"   alt="facebook" >&nbsp;&nbsp;
			<img src="{% static 'trails/images/instagram.png'%}"   alt="instagram" width="37">&nbsp;&nbsp;
			<img src="{% static 'trails/images/tripadvisor.png'%}"  alt="tripadvisor" width="37">&nbsp;&nbsp;
			</div>
			</td>
		</tr>
		<tr>
			<td><a href="#" class="list">Contact Us</a></td>
			<td><a href="/trips" class="list">My Trips</a></td>
		</tr>
		<tr>
			<td><br><a href="#" class="list">About Us</a></td>
			<td></td>
		</tr>

	</table>
	<span class="text_footer">© 2016 Trailbuddy.com or its affiliates. Trailbuddy is operated by Coding Dojo.</span>	

	</div>
</div>
</div>
</body>
</html>